<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="src/resources/styles/style.css" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-12 col-lg-4">
            <div id="profile">
                <img class="rounded-circle z-depth-0" style="width: 230px; height: 250px" src="img/dak.JPG" alt="Dak">
                <div class="portrait-title">
                    <h2>Dak Mikhail</h2>
                    <h3>
                        <span>Student of SibSUTIS</span>
                    </h3>
                </div>
                <div class="col-12 social padding" aria-hidden="true">
                        <a href="https://github.com/MishaDak">
                            <i class="fab fa-github big-icon"></i>
                        </a>
                        <a href="https://vk.com/dak_m">
                            <i class="fab fa-vk big-icon"></i>
                        </a>
                        <a href="">
                            <i class="fab fa-instagram big-icon"></i>
                        </a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>